<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Duet</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,700,700i" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "Duet", root_path, class: "navbar-brand brand" %>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <% if current_user %>
            <ul class="nav navbar-nav">
              <li><%= link_to "Topics", topics_path %></li>
            </ul>
          <% end %>
          <!-- <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "", new_topic_path, class: "btn btn-primary navbar-btn glyphicon glyphicon-pencil" %></li>
          </ul> -->
          <ul class="nav navbar-nav navbar-right">
            <% if current_user %>
              <li><%= link_to "Sign out", session_path(current_user), method: :delete, class: "btn btn-default navbar-btn" %></li>
            <% else %>
              <li><%= link_to "Sign up", new_user_path, class: "btn btn-primary navbar-btn" %></li>
              <li><%= link_to "Sign in", new_session_path, class: "btn btn-default navbar-btn" %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <%= yield %>

  </body>
</html>
